@import "../../global.scss";

.portfolio {
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .portfolioContainer {
        position: absolute;
        top: 7.5vh;

        h1 {
            font-size: 50px;
            text-align: center;
            margin: 10px 0;
        }
    
        .itemContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
    
            .item {
                width: 345px;
                height: 200px;
                border-radius: 20px;
                border: 1px solid lightgray;
                margin: 10px 20px;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                position: relative;
    
                h3 {
                    position: absolute;
                    font-size: 20px;
                    display: none;
                    text-align: center;
                }
    
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: 1;
                }
    
                &:hover {
                    background-color: #2a1e5c;
                    img {
                        opacity: 0.2;
                        z-index: 0;
                    }
                    h3 {
                        display: block;
                        color: white;
                    }
                }
            }
        }
    }

    #arrow {
        position: absolute;
        bottom: 10px;
        left: 50%;

        img {
            width: 30px;
        }

        &:hover {
            animation: bounce 1s infinite;
        }
    }
}