@import "../../global.scss";

.works {
    background: linear-gradient(90deg,#1c3385, #118afb);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    #title {
        color: white;
        font-size: 50px;
        margin-bottom: 10px;
        text-align: center;

        @include small-phone {
            font-size: 40px;
            margin-bottom: 8px;
        }

        @include large-phone {
            font-size: 45px;
            margin-bottom: 8px;
        }
    }

    .timeline {
        width: 900px;
        overflow: hidden;

        @include small-phone {
            width: 275px;
        }

        @include large-phone {
            width: 300px;
        }

        .container {
            height: 275px;
            width: 750px;
            display: flex;
            position: relative;
            justify-content: center;

            @include small-phone {
                height: 125px;
                width: 225px;
            }

            @include large-phone {
                height: 175px;
                width: 250px;
            }

            .timelineItem {
                display: flex;
                height: 100%;
                width: 95%;
                position: absolute;
    
                .left {
                    flex: 0.6;
                    height: 80%;
    
                    .leftContainer {
                        width: 90%;
                        display: flex;
                        flex-direction: column;
                        overflow: hidden;

                        @include small-phone {
                            h2 {
                                font-size: 13px;
                                line-height: 10pt;
                                padding-bottom: 5px;
                            }

                            h3 {
                                font-size: 10px;
                                line-height: 7pt;
                            }

                            p {
                                display: none;
                            }
                        }

                        @include large-phone {
                            h2 {
                                font-size: 17.5px;
                                line-height: 12pt;
                                padding-bottom: 5px;
                            }

                            h3 {
                                font-size: 13px;
                                line-height: 10pt;
                            }

                            p {
                                display: none;
                            }
                        }
                    }
                }
    
                .right {
                    flex: 0.4;
                    display: flex;
                    align-items: center;
                    
                    .imgContainer {
                        height: 90%;
                        width: 100%;
                        overflow: hidden;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }

    #arrow {
        position: absolute;
        bottom: 10px;
        left: 50%;

        img {
            width: 30px;
        }

        &:hover {
            animation: bounce 1s infinite;
        }

        @include small-phone {
            display: none;
        }

        @include large-phone {
            display: none;
        }
    }
}