$mainColor:#008b8b;

@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

@mixin small-phone {
    @media (max-width: 389px) {
        @content;
    }
}

@mixin large-phone {
    @media (min-width: 390px) and (max-width: 500px) {
        @content;
    }
}

// Max breaking points from normal
// Intro - 910px
// About - 1320px
// Portfolio - 1165px
// Work Experience - 910px
// Contact - 1040px